@import 'variables';


.component-office {
	@include card-style;
	color: $dark;
	display: flex;
	align-items: stretch;
	overflow: hidden;

	.office-title {
		color: $primary;
		text-align: center;
		font-size: 2.5rem;
		padding-top: .25em;
		padding-bottom: .25em;
		margin-bottom: 0;
		border-bottom: solid 1px $secondary;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 1.15;
	}
	.office-content {
		font-size: 2.5rem;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		line-height: 1;
		> * {
			display: flex;
			font-size: inherit;
			font-weight: initial;
			text-align: left;
			&:not(:first-child) {
				margin-top: .5em;
			}
		}
		a {
			&,
			#{$active} {
				color: inherit;
				text-decoration: none;
			}
			#{$active} {
				:not(.office-icon) {
					text-decoration: underline;
				}
			}
		}
		> a {
			#{$active} {
				.office-icon {
					transform: translateZ(0) scale(1.2);
					filter: drop-shadow(0 .05em .03em rgba(0, 0, 0, 0.5));
				}
			}
			.office-icon {
				filter: drop-shadow(0 0 0 transparent);
				@include smoother-transition;
			}
		}
	}
	.office-icon {
		// float: left;
		line-height: inherit;
		margin-right: .25em;
		min-width: 1em;
	}
	
	.office-coming-soon {
		flex: 1 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 3rem;
		font-weight: 700;
		text-align: center;
		color: $primary;
	}
	// .office-coming-soon-text {
	// 	max-width: 20rem;
	// }

}


.office-featured-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.office-title-content-wrapper {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	width: 100%;
	background-color: $white;
	flex: 1 0;
	min-height: 22.1rem;
	@media (min-width: $vp_xs) {
		min-width: 27.5rem;
	}
	> * {
		padding: 1.5rem;
	}
}
.component-offices-list {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
}

.anchor-office-phone-number {
	#{$active} {
		.office-icon {
			transform: translateZ(0) rotate(137.5deg) scale(1.2);
			filter: drop-shadow(.05em -.05em .03em rgba(0, 0, 0, 0.46));
		}
	}
	.office-icon {
		color: $secondary;
		@include smoother-transition;
	}
}
.anchor-office-address {
	.office-icon {
		color: $primary;
	}
}
.office-address-wrapper {
	> * {
		display: block;
	}
}

$office-margin: 1.5rem;
.component-offices-list {
	@include flex-margin($office-margin);
	justify-content: center;
	&[data-include-maps="true"] {
		.component-office {
			flex: 1 1 calc(33.333% - (#{$office-margin} * 2));
			max-width: 42rem;
			position: relative;
			@include smoothest-transition;
			margin-bottom: auto;
			// @include square-div;
			&:before {
				content: '';
				padding-bottom: 0;
				width: 0;
			}
			#{$active} {
				&:before {
					padding-bottom: 100%;
					width: 100%;
				}
				> * {
					position: absolute;
				}
				.office-map-drawer {
					flex: 1;
					padding: 1.5rem;
					
				}
				.office-map-iframe {
					height: 100%;
				}
			}
			> * {
				position: static;
				width: 100%;
				height: 100%;
				@include smoothest-transition;
			}
			.office-content {
				overflow: hidden;
				opacity: 1;
				transform-origin: 0% 0%;
				@include smoothest-transition;
			}
		}
		.office-title-content-wrapper {
			min-height: 0;
		}
	}
}
.btn-show-map {
	width: 100%;
	border-radius: 0;
	@include btn-color-primary;
  @include smoothest-transition;
}
.office-map-drawer {
	height: 0;
	flex: 0 0 auto;
	padding-top: 0;
	padding-bottom: 0;
	transform-origin: 50% 0%;
  order: 3;
  @include smoothest-transition;
	#{$active} {
		height: 100%;
		~ .office-content {
			height: 0;
			padding-top: 0;
			padding-bottom: 0;
			opacity: 0;
		}
	}
}
.office-map-iframe {
  width: 100%;
  height: 100%;
	// height: 0;
	border: 0;
	// @include smoothest-transition;
}